$primary-color: #6B4FA4;

.vcm-content {
  padding: 5px;
  border: 1px solid #cccc33;
  background: #F5F5F5;
  flex: 3 1 60%;
  order: 2;
}
.vcm-content-folder {
  width: 96px;
  display: inline-grid;
  border: 10px;
  cursor: pointer;
  margin: 2.5px 5px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-weight: inherit;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  border-radius: 2px;
  user-select: none;
  align-items: center;
  // background-color: inherit;
  svg {
    fill: $primary-color;
  }
  &:hover {
    opacity: .62;
    overflow: visible;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 1px 5px 0 rgba(0,0,0,0.12),
    0 3px 1px -2px rgba(0,0,0,0.2);
    span.btnText {
      overflow: visible;
    }
  }
}