body {
  margin: 0;
}
@media all and (max-width: 640px) {
  #vue-cloud-manager main {
    flex-direction: column;
  }
  .vcm-tree {
    display: none;
  }
  main #vcm-history {
    display: none;
  }
}